<!doctype html>
<html lang="lv">
<head>
<link rel="stylesheet" href="static/styles.css">
{% block tytle%} {%endblock%}
</head>
<body>
<div class="container py-3">
  <header>
        <nav>
        <a href="/">Main page</a>
        <a href="/about">par veikalu</a>
        <!-- <a href="#">Support</a> 
        <a href="#">Pricing</a>-->
      <a class="btn btn-outline-primary" href="/create">Pievienot preci</a>
    </nav>
    </div>

    <div>
      <h1>tiešsaites veikals</h1>
    </div>
  </header>

 {% block body%} {%endblock%}

  <footer>
   <h2>tiešsaita veikala piemers</h2>
  </footer>
</div>
</body>
</html>