<!doctype html>
<html lang="lv">
<head>
<link rel="stylesheet" href="static/stylescss">
{% block tytle%} {%endblock%}
</head>
<body>
<div class="container py-3">
  <header>
        <nav>
        <a href="/">Main page</a>
        <a href="/about">par veikalu</a>
        <a href="#">Support</a>
        <a href="#">Pricing</a>
      </nav>
      <a class="btn btn-outline-primary" href="/create">Pievienot preci</a>
    </div>

    <div>
      <h1>Pricing</h1>
    </div>
  </header>

 {% block body%} {%endblock%}

  <footer>
   
  </footer>
</div>
</body>
</html>