{%extends 'base.html'%}

{%block title%}
<title>tiešsaites veikals</title>
{%endblock%}

{%block body%}
<title>tiešsaites veikals</title>
<div>
   

    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Cena</th>
            <th>Apraksts</th>
        </tr>
        {% for i in data  %}
        <tr>
            
          <td style="width: 25%">{{i.id}}</td>
          <td style="width: 25%">{{i.title}}</td>
          <td style="width: 25%">{{i.price}}</td>
          <td style="width: 25%">{{text}}</td>
        </tr>
    </table>

    {% endfor %}
</div>


{%endblock%}

